.git
.gitattributes
.gitignore
.env.example
.phpunit.result.cache
docker-compose.yml
README.md
CHANGELOG.md
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*
vendor
.DS_Store
Thumbs.db
.php_cs.cache
.php_cs
.php-cs-fixer.php
.env.backup
.phpactor
npm-debug.log
yarn-error.log
public/hot
public/storage
Homestead.json
Homestead.yaml
.phpunit.result.cache
.phpunit.cache
